/* General Styling */
/* *{
  box-sizing: border-box;
} */

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Literata', serif;
  /* font-weight: 300;
  font-style: normal; */
  background-color: #526747;
  height: 100%;
  overflow-x: hidden;
}

h1{
  font-size: 300%;
}

h2{
  font-size: 150%;
}

h3{
  font-size: 100%;
  line-height: 1.5rem;
}

.cards{
  padding: 0;
  margin: 0;
  display: grid;
  width: 70svw;
  > * {
    grid-area: 1/1/2/2;
  }
  li{
    list-style: none;
  }
}

.card{
  height: 70svh;
  min-height: auto;
  padding: 30px;
}

/* General Component Styling */
#boxOverlay{
  position: absolute;
  inset:0;
  background-color: #526747;
  height: 100%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  padding-left: 5vw
}

.lightBoxOverlay{
  inset:0;
  background-color: #FFF8F2;
  color: #9C826D;
  padding: 5%;
  word-wrap: break-word;
  white-space: normal;
}

#wordOverlay{
  inset: 0;
  color:#FFF8F2;
  margin-top: 10vh;
}

#smallWordOverlay a{
  color: #FFF2DE;
  text-decoration: none;
  font-size: 80%; 
  display: inline-block;
}

#smallWordOverlay a:hover, a:visited, a:active{
  color: #FFF2DE;
  text-decoration: none;
}

#v-line{
  border-right: 2px solid #FFF2DE;
  height:100%;
  margin-left: -10%;
  width: 1px;
}

#linkWrap{
  width:20vw;
}

/* Unique section component styling */
/* Intro */
#intro{
  width: 100vw;
  position: relative;
}

#intro .lightBoxOverlay{
  margin-bottom: 30vh;
  width: 40vw;
}

/* About */
#aboutSec{
  width: 50vw;
}

#aboutSec .lightBoxOverlay{
  margin-left: -5vw;
  justify-self: start;
}

#aboutSec #title{
  width: 35vw;
  height: auto;
  padding: 2%;
  margin-top: 10vh;
}

#aboutSec #content{
  height: 50vh;
  width: 70vw;
}

/*Portfolio*/ 
#portfolioSec{
  inset:0;
  background-color: #FFF8F2;
  color: #9C826D;
  padding: 5%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  width: 100vw;
}

/*Contact Me*/
#contactSec{
  width: 100vw;
}

#contactSec .lightBoxOverlay{
  margin-right: 5vw;
  justify-self: start;
}

#contactSec #title{
  width: 35vw;
  height: auto;
  padding: 2%;
  margin-top: 10vh;
}

#contactSec #content{
  height: 50vh;
  width: 70vw;
}


/*End Image*/


#endImage{
  /* width: 70vw; */
  height: auto;
  flex-shrink:1;
  place-items: start;
}