.horizontal {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: x mandatory;
}

.section{
    transform: rotate(-90deg) translateY(-100px);
    transform-origin: right top;
}